<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Profile settings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Varela&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/login.css">

  
</head>

<body>

  <div class="user">
    <header class="user__header">
        <a class="logo" href="/">Notes</a>
        <p style="color: black; margin: 50px auto;">Profile settings<p>
      <% include ./partials/messages %>
    </header>
    
    <form action="/users/profilesettings" method="POST" class="form">
        <input type="hidden" name="email" value="<%= email %>">
        <div class="form__group">
            <input type="text" name="name" placeholder="Username" class="form__input" 
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        
        <div class="form__group">
            <input type="email" name="newemail" placeholder="Email" class="form__input"
            value="<%= typeof newemail != 'undefined' ? newemail : '' %>" />
        </div>
        <div class="form__group">
            <input type="password" name="password" placeholder="Current password" class="form__input"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div class="form__group">
            <input type="password" name="newpassword" placeholder="New password" class="form__input"
            value="<%= typeof newpassword != 'undefined' ? newpassword : '' %>" />
        </div>
		<div class="form__group">
            <input type="password" name="newpassword2" placeholder="Confirm new password" class="form__input" 
            value="<%= typeof newpassword2 != 'undefined' ? newpassword2 : '' %>" />
        </div>
        
        <button class="btn" type="submit">Save</button>
		
    </form>
    <p class="login"><a href="/users/deleteaccount">Delete my account</a></p>
	<p class="login"><a href="/">Go Back</a></p>
</div>
  

    <script  src="/login.js"></script>


</body>

</html>

